<style>
    .admin-header .language-dropdown .custom-dropdown-icon a.dropdown-toggle{
        text-align: right;
    }
</style>
<div class="nav-item dropdown language-dropdown more-dropdown">
    <div class="dropdown custom-dropdown-icon">
        <a class="dropdown-toggle btn" href="#" role="button" id="customDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="https://fisuat.tcf.org.pk:2443/logo_min.svg" class="navbar-logo" alt="logo"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
            <% if (message.length > 0) { %>
            <span><%= message %></span>
            <% } %>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="customDropdown">
            
            <a class="dropdown-item" data-img-value="flag-ca2" data-value="English" href="/logout"><img src="/logout.svg" class="flag-width" alt="flag"> LOGOUT</a>
        </div>
    </div>
</div>