<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- <script>
    var gps ,role,main_desh,vehicle,report,user,update,fuelCard,setup,action;
    $.get('/nav', function (recordset) {
        // var role__name = recordset["recordsets"][0][0]["r_name"];
        // document.getElementById("role_naam").innerHTML=role__name;


        main_desh = recordset["recordsets"][0][0]["r_main_dash"];
        var r_main_desh = JSON.parse(main_desh);
        var desh = r_main_desh.dashboard;
        console.log("main_desh  =>"+desh);

        // action = recordset["recordsets"][0][0]["r_action"];
        // var actionS = JSON.parse(action);
        // var create = actionS.create;
        // var update = actionS.update;
        // var delete1 = actionS.delete1;
        // var view = actionS.view;

        // if(create!='1'){
        //     // document.getElementById("created").style.display = 'block';
        //     var elms = document.querySelectorAll("[id='created__']");

        //     for(var i = 0; i < elms.length; i++) 
        //     elms[i].style.display='none';
        // }
        

        // if(update!='1'){
        //     var elms = document.querySelectorAll("[id='updated__']");

        //     for(var i = 0; i < elms.length; i++) 
        //     elms[i].style.display='none';

        // }
        

        // if(delete1!='1'){
        //     var elms = document.querySelectorAll("[id='deleted__']");

        //     for(var i = 0; i < elms.length; i++) 
        //     elms[i].style.display='none';

        // }
       

        fuelCard = recordset["recordsets"][0][0]["r_fuel_card"];
        var all_card_desh = JSON.parse(fuelCard);

        var all_cardS = all_card_desh.all_card;
        var not_allocS = all_card_desh.not_alloc;
        var excel_impS = all_card_desh.excel_imp;
        var upload_veslocity = all_card_desh.upload_veslocity;
        console.log("main_desh_card  =>"+fuelCard);

        vehicle= recordset["recordsets"][0][0]["r_vehicle"];
        var r_vehicle = JSON.parse(vehicle);
        var all_vehicleS = r_vehicle.all_vehicle;
        var faculty = r_vehicle.manage_faculty;
        var vehi_assign = r_vehicle.vehicle_assign;
        
        console.log("vehicle ==> "+all_vehicleS) ;

        gps= recordset["recordsets"][0][0]["r_gps"];
        var r_gps = JSON.parse(gps);
        var map = r_gps.map;
        var geofence = r_gps.geofence;
        var hd_report = r_gps.hd_report;
        var dd_report = r_gps.dd_report;
        console.log("map ==> "+map + " " + geofence + " " + hd_report + " " + dd_report);
        // {"fuel_report":"1","et_vehicle":"1","emp_vehicle":"1","ent_report":"1","cards___history":"1","dpt_report":"1"}
        report= recordset["recordsets"][0][0]["r_report"];
        var r_report = JSON.parse(report);
        var fuel_report = r_report.fuel_report;
        var et_vehicle = r_report.et_vehicle;
        var emp_vehicle = r_report.emp_vehicle;
        var ent_report = r_report.ent_report;
        var cards___history = r_report.cards___history;
        var dpt_report = r_report.dpt_report;
        
        console.log("report ==>  " + fuel_report + " " + et_vehicle + " "+emp_vehicle+ " "+ent_report+ " "+cards___history+ " "+dpt_report);

        user= recordset["recordsets"][0][0]["r_users"];
        var r_user = JSON.parse(user);
        var user_list = r_user.user_list;
        var roles = r_user.roles;
        var dept_user = r_user.dept_user;
        
        
        console.log("user ==>  " + user_list + " " + roles );

        setup= recordset["recordsets"][0][0]["r_setups"];
        var r_setup = JSON.parse(setup);
        var fuel__rate_profile = r_setup.fuel__rate_profile;
        var vehicle__make  = r_setup.vehicle__make;
        var fleet__card = r_setup.fleet__card;
        console.log("setups => " + fuel__rate_profile + " " +vehicle__make+ " " +fleet__card);

        // update= recordset["recordsets"][0][0]["r_update_vehi"];
        // var r_update = JSON.parse(update);
        // var update_desh = r_update.dashboard;
        // var allocation = r_update.allocation;
        // var basi_info = r_update.basi_info;
        // var odometer = r_update.odometer;
        // var fueling = r_update.fueling;
        // var Maintainace = r_update.Maintainace;
        // var feculty = r_update.feculty;

        // console.log("check  " + update_desh + " "+ allocation);

        // ------------------------------------------------
        
        console.log("hum "+desh);
        if(desh==='1'){
            var x = document.getElementById("main_dashS");
            x.style.display = "block";
        }
        
        if(all_vehicleS==='1'){
            var x = document.getElementById("vehicle_box");
            x.style.display = "block";
        }
        else{
            var x = document.getElementById("vehicle_box");
            x.style.display = "none";
        }

        if(all_vehicleS=='1'){
            var x = document.getElementById("all_vehicleS");
            x.style.display = "block";
        }
        
        // ------------------------------------------------------------    
        if(map==='1' || geofence==='1' || hd_report==='1' || hd_report==='1'){
            var x = document.getElementById("gps__box");
            x.style.display = "block";
        }
        else{
            var x = document.getElementById("gps__box");
            x.style.display = "none";
        }

        if(map=='1'){
            var x = document.getElementById("mapS");
            x.style.display = "block";
        }
        
        if(geofence=='1'){
            var x = document.getElementById("geofenceS");
            x.style.display = "block";
        }
        if(hd_report=='1'){
            var x = document.getElementById("hd_reportS");
            x.style.display = "block";
        }
        if(dd_report=='1'){
            var x = document.getElementById("dd_reportS");
            x.style.display = "block";
        }

        // -----------------------------------------------------------------------

        if(fuel_report==='1' || et_vehicle==='1' || emp_vehicle==='1' || ent_report==='1' || cards___history==='1' || dpt_report==='1'){
            var x = document.getElementById("report__box");
            x.style.display = "block";
        }
        else{
            var x = document.getElementById("report__box");
            x.style.display = "none";
        }

        if(fuel_report=='1'){
            var x = document.getElementById("fuel_reportS");
            x.style.display = "block";
        }
        
        if(et_vehicle=='1'){
            var x = document.getElementById("et_vehicleS");
            x.style.display = "block";
        }
        if(emp_vehicle=='1'){
            var x = document.getElementById("emp_vehicleS");
            x.style.display = "block";
        }
        if(cards___history=='1'){
            var x = document.getElementById("card_history");
            x.style.display = "block";
        }
        if(dpt_report=='1'){
            var x = document.getElementById("det__");
            x.style.display = "block";
        }
        // if(ent_report=='1'){
        //     var x = document.getElementById("ent_reportS");
        //     x.style.display = "block";
        // }
       

        if(user_list==='1' || roles==='1'){
            var x = document.getElementById("user__box");
            x.style.display = "block";
        }
        else{
            var x = document.getElementById("user__box");
            x.style.display = "none";
        }

        if(user_list=='1'){
            var x = document.getElementById("user_listS");
            x.style.display = "block";
        }
        if(roles=='1'){
            var x = document.getElementById("manage_role");
            x.style.display = "block";
        }
        // if(dept_user=='1'){
        //     var x = document.getElementById("dept_user");
        //     x.style.display = "block";
        // }
        // ---------------------------------------------------------------------
        if(all_cardS==='1' || not_allocS==='1' || excel_impS==='1' || upload_veslocity ==='1'){
            var x = document.getElementById("fuel__box");
            x.style.display = "block";
        }
        else{
            var x = document.getElementById("fuel__box");
            x.style.display = "none";
        }

        if(all_cardS=='1'){
            var x = document.getElementById("all_cardS");
            x.style.display = "block";
        }
        if(not_allocS=='1'){
            var x = document.getElementById("not_allocS");
            x.style.display = "block";
        }
        if(excel_impS=='1'){
            var x = document.getElementById("upload_excel");
            x.style.display = "block";
        }
        if(upload_veslocity=='1'){
            var x = document.getElementById("excel_impS");
            x.style.display = "block";
        }
        // --------------------------------------------------------------------- fleet__card vehicle__make fuel__rate_profile

        if(fuel__rate_profile==='1' || vehicle__make==='1' || fleet__card==='1'){
            var x = document.getElementById("setup__box");
            x.style.display = "block";
        }
        else{
            var x = document.getElementById("setup__box");
            x.style.display = "none";
        }

        if(fuel__rate_profile=='1'){
            var x = document.getElementById("profile_rate");
            x.style.display = "block";
        }
        else{
            var x = document.getElementById("profile_rate");
            x.style.display = "none";
        }
        if(vehicle__make=='1'){
            var x = document.getElementById("make_vehicle");
            x.style.display = "block";
        }
        if(fleet__card=='1'){
            var x = document.getElementById("card_fuel");
            x.style.display = "block";
        }


        var creat_btn_role= recordset["recordsets"][0][0]["r_creation"];
        var r_creat_btn_role = JSON.parse(creat_btn_role);
        var fuel__rate_profile = r_creat_btn_role.create_role;
    });

    
   
   
</script> -->
<div class="sidebar-wrapper sidebar-theme">

    <div class="theme-logo">
        <a href="/dash">
            <img src="https://fisuat.tcf.org.pk:2443/logo_min.svg" class="navbar-logo" alt="logo">
            <span class="admin-logo">TCF<span></span></span>
            
            
        </a>
        
    </div>
    
    <div class="sidebarCollapseFixed">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
    </div>
    
    
    <nav id="compactSidebar">
        
        <ul class="menu-categories">
            <li class="modal_li" style="padding: 10px; display: none;" id="main_dashS">
                <a href="/dash" class="menu-toggle">
                    <div class="base-menu" >
                        <div class="base-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                        </div>
                        <span>Dashboard</span>
                    </div>
                </a>
            </li>
            <li class="menu active" id="setup__box">
                <a href="#setups" data-active="false" class="menu-toggle">
                    <div class="base-menu">
                        <div class="base-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
                        </div>
                        <span>Setups</span>
                    </div>
                </a>
            </li>
            <li class="menu" id="vehicle_box">
                <a href="#app" data-active="false" class="menu-toggle">
                    <div class="base-menu">
                        <div class="base-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>
                        </div>
                        <span>Vehicles</span>
                    </div>
                </a>
            </li>

            <li class="menu" id="fuel__box" >
                <a href="#uiKit" data-active="false" class="menu-toggle"  >
                    <div class="base-menu">
                        <div class="base-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg>
                        </div>
                        <span>Fuel Cards</span>
                    </div>
                </a>
            </li>

            <li class="menu" id="gps__box">
                <a href="#components" data-active="false" class="menu-toggle">
                    <div class="base-menu">
                        <div class="base-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-radio"><circle cx="12" cy="12" r="2"></circle><path d="M16.24 7.76a6 6 0 0 1 0 8.49m-8.48-.01a6 6 0 0 1 0-8.49m11.31-2.82a10 10 0 0 1 0 14.14m-14.14 0a10 10 0 0 1 0-14.14"></path></svg>
                        </div>
                        <span>GPS</span>
                    </div>
                </a>
            </li>

            <li class="menu" id="report__box">
                <a href="#forms" data-active="false" class="menu-toggle">
                    <div class="base-menu">
                        <div class="base-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>
                        </div>
                        <span>Reports</span>
                    </div>
                </a>
            </li>

            <li class="menu active" id="user__box">
                <a href="#tables1" data-active="false" class="menu-toggle">
                    <div class="base-menu">
                        <div class="base-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                        </div>
                        <span>Users</span>
                    </div>
                </a>
            </li>

            
        </ul>
    </nav>

    <div id="compact_submenuSidebar" class="submenu-sidebar">

        
        <div class="submenu" id="app">
            <ul class="submenu-list  -submenu" data-parent-element="#app"> 
                <li class="  modal_li"  id="all_vehicleS" style="display: none;">
                    <a href="/all"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> All Vehicles </a>
                </li>

                <!-- <li class="  modal_li"  id="faculty" style="display: none;">
                    <a href="/hcm"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> Manage Feculty </a>
                </li>
                <li class="  modal_li"  id="vehi_assign" style="display: none;">
                    <a href="/vehicleTagDept"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> Vehicle Assign to Dept </a>
                </li> -->
                <!-- <li class=" " style="padding: 10px; display: none;" id="main_dashS">
                    <a href="apps_mailbox.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>Vehicle Dash </a>
                </li> -->
                
            </ul>
        </div>

        <div class="submenu" id="uiKit">
            <ul class="submenu-list  -submenu" data-parent-element="#uiKit"> 
                <li class="modal_li" id="excel_impS" style="display: none;">
                    <a href="/excel"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span>Upload Velocity</span></a>
                </li>
                <li class="modal_li" id="upload_excel" style="display: none;">
                    <a href="/excelImporter"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> Fleet Card Upload </span></a>
                </li>
                <li class="modal_li" id="all_cardS" style="display: none;">
                    <a href="/card"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span>All Cards</a>
                </li>
                <li class="modal_li" id="not_allocS" style="display: none;">
                    <a href="/not_alloc"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span>Not Allocated</a>
                </li>
            </ul>
        </div>

        <div class="submenu" id="components">
            <ul class="submenu-list  -submenu" data-parent-element="#uiKit"> 
                <li class="  modal_li" id="mapS" style="display: none;">
                    <a href="/map"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> Maps </a>
                </li>
                <li class="  modal_li" id="geofenceS" style="display: none;">
                    <a href="/geo"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> Geofence </a>
                </li>
                <li class="  modal_li" id="hd_reportS" style="display: none;">
                    <a href="/rpt_gps_monthly"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> HD Report </a>
                </li>
                <li class="  modal_li" id="dd_reportS" style="display: none;">
                    <a href="/rpt_gps_hourly"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> DD Report </a>
                </li>
            </ul>
        </div>

        <div class="submenu" id="forms">
            <ul class="submenu-list  -submenu" data-parent-element="#uiKit"> 
                <li class="  modal_li" id="fuel_reportS" style="display: none;">
                    <a href="/rpt_fuels"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> Fuel Report </a>
                </li>
                   <li class="  modal_li" id="et_vehicleS" style="display: none;">
                    <a href="/rpt_emp_vehicle"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> ET Vehicle </a>
                </li>
                <li class="  modal_li" id="emp_vehicleS" style="display: none;">
                    <a href="/rpt_emp_wo_vehicle"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> Emp WO Vehicle  </a>
                </li>
                
                <li class="modal_li" id="card_history" style="display: none;" >
                    <a href="/rpt_mntn_summery"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> Card History </a>
                </li>
                <li class="modal_li" id="det__" style="display: none;" >
                    <a href="/rpt_dept"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> Departmental Card Report </a>
                </li>
            </ul>

        </div>

        <div class="submenu" id="tables1">
            <ul class="submenu-list " data-parent-element="#tables1">
                <li class="modal_li" id="user_listS" style="display: none;">
                    <a href="/user_list"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> User List</a>
                </li>

                <li class="modal_li" id="manage_role" style="display: none;">
                    <a href="/manage_roles"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> Manage Role</a>
                </li>

                <!-- <li class="modal_li" id="dept_user" style="display: none;">
                    <a href="/userDrpt"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> Assign user to Dept</a>
                </li> -->
                <!-- <li class=" ">
                    <a href="apps_chat.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg> Roles </a>
                </li>
                <li class=" ">
                    <a href="apps_chat.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg> Users List </a>
                </li> -->
               
                      
              
                
            </ul>
        </div>
        <div class="submenu" id="setups">
            <ul class="submenu-list " data-parent-element="#setups">
                <li class="modal_li" id="profile_rate" >
                    <a href="/fuel_rate_profile"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> Fuel Rate Profile</a>
                </li>

                <li class="modal_li" id="make_vehicle" style="display: none;">
                    <a href="/vehicle_make"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span> Vehicle Make</a>
                </li>

                <li class="modal_li" id="card_fuel" style="display: none;">
                    <a href="/fleet_cart"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg></span>Fleet Card</a>
                </li>
                <!-- <li class=" ">
                    <a href="apps_chat.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg> Roles </a>
                </li>
                <li class=" ">
                    <a href="apps_chat.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg> Users List </a>
                </li> -->
               
                      
              
                
            </ul>
        </div>

        
        
       

    </div>

</div>